[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy-lite = "*"
flask-htmx = "*"
wtforms-alchemy = "*"
flask-wtf = "*"

[dev-packages]
python-lsp-server = {extras = ["all"], version = "*"}

[requires]
python_version = "3.11"
